# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Node
node_modules/
dist/

# Vite
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db